<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base}">

<head>
    <title>Profile</title>
</head>

<body>

<header layout:fragment="header">
    <h1>Study Rooms <small>/ Profile</small></h1>
</header>

<section layout:fragment="main">

    <!-- Ενέργειες -->
    <div class="d-grid gap-3">

        <a class="btn btn-dark btn-lg"
           th:href="@{/room/calendar}">
            Προβολή Διαθεσιμότητας Δωματίων
        </a>

        <a class="btn btn-dark btn-lg"
           th:href="@{/rooms/reservations/my}">
            Προβολή & Ακύρωση Κρατήσεων
        </a>

        <a class="btn btn-dark btn-lg"
           th:href="@{/rooms/reservations/history}">
            Προβολή Ιστορικού Κρατήσεων
        </a>

        <a class="btn btn-dark btn-lg"
           th:href="@{/logout}">
            Αποσύνδεση
        </a>
    </div>

</section>

</body>
</html>
